
/*grid for the whole page*/
.page-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:auto auto auto;
}

/* h1 Animation */
h1 {
	animation: moveHeader  6s ease-in-out infinite;
    padding:  20px;
    background-color: hsl(0, 0%, 96%); /* Example background color */
    border:  2px solid #333; /* Box around the header */
}

@keyframes moveHeader {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

#zen-into {
	grid-column: 1/2;
}

#zen-supporting {
	grid-column: 1/4;
}

.sidebar {
grid-column: 3/4;
display: inline;
}

/*.sidebar .wrapper {
	display: flex;
	justify-content: space-around;
} 
 .sidebar .page-wrapper {
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: right;
} */
h3 {
	position: relative;
	display: inline-block;
	padding:  10px;
	background-color: #fff; /* Ensure the background is solid for the gradient effect */
	color: #333;
	margin:  20px;
	}
	
h3::before {
	content: '';
	position: absolute;
	top: -4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	z-index: -1;
	background: linear-gradient(45deg, #f3ec78, #af4261);
	border-radius:  5px; /* Match the border-radius of the h3 for a seamless look */
	}
	



/*@media only screen and (min-width: 512px) {
	
}*/